<!DOCTYPE html>
<html lang="´t-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('tarefas') }}" method="POST">
        <input type="text" name="Tarefa" placeholder="Tarefa: ">
        <input type="datetime" name="Prazo" placeholder="Prazo">
        <input type="radio" name="Prioridade" value="ALTA">
        <label for="ALTA">ALTA</label>
        <input type="radio" name="Prioridade" value="MÉDIA">
        <label for="ALTA">MÉDIA</label>
        <input type="radio" name="Prioridade" value="BAIXA">
        <label for="ALTA">BAIXA</label>
        <input type="submit" value="Cadastrar Tarefa">
    </form> 
    <br><br><br><br><br>
    <table border="1">
        <tr>
            <th>ID da Tarefa</th>
            <th>Titulo da Tarefa</th>
            <th>Hora de Registro</th>
            <th>Prazo de Finaização</th>
            <th>Grau de Prioridade</th>
        </tr>
        {% for tarefa in tasks %}
        <tr>
            <td>{{ tarefa.id_tarefa }}</td>
            <td>{{ tarefa.titulo_tarefa }}</td>
            <td>{{ tarefa.hora_tarefa }}</td>
            <td>{{ tarefa.prazo_tarefa }}</td>
            <td>{{ tarefa.prioridade }}</td>
            <td><a href="{{ url_for('deletar_tarefa', id=tarefa.id_tarefa) }}" style="text-decoration: none;">[]</a></td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="{{ url_for('logout') }}">LOGOUT</a><p>Administrar <a href="{{ url_for('usuarios') }}">USUÁRIOS</a></p>

</body>
</html>